*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    --bacground:rgb(24,24,24);
    --second-background:rgb(21,21,21);
}
body{
    background: var(--bacground);
    min-height: 100vh;
}
.img-con{
    margin-top: 7vw;
}
nav{
    position: fixed;
    top:0;
    padding: 2rem 10%;
    /* height: 10vw; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(15 , 15, 15,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 15vw;
}
nav ul a{
    color: #fff;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1.4vw;


}nav ul a:hover{
    opacity: 1;
    cursor: pointer;
}
.logo{
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.logo:hover{
    opacity: 1.5;

}
#conbtn{

    margin-left: 10vw;
}
.btn{
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    border: 2px solid #fff;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: var(--bacground);
}
span{
    background: linear-gradient(to right,rgb(13, 13, 255),rgb(255, 32, 32));

    background-clip: text;
    color: transparent;
}
#menu{
    color: #fff;
    font-size: 3rem;
    display: none;
} 
section{
    /* background-color: red; */
    min-height: 100vh;
    padding: 5% 15%;
    width: 100%;
    top: 5vw;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    
}
/* #home .img-con{
    width: 30vw;
    border-radius: 50%;
    margin-top: 7rem;
    object-fit: cover;
    height: 30vw;
    box-shadow: (20px 20px 60px gray);
    border-top: 2px solid rgb(38, 32, 0);
    background-color: #000000;
    object-fit: cover;
} */
#home img{
    border: 2px solid darkblue;
    width: 30vw;
    border-radius: 50%;
    margin-top: 0rem;
    height: 30vw;
    /* animation: rotate 1s ; */
  
}
@keyframes rotate {
    100%{
        rotate: 360deg;
    }
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 600px;
    /* background-color: red; */
}
.info-box h1{
    font-size: 5rem;
    font-weight: 500;
}
.info-box h3{
    font-size: 2rem;
    font-weight: 400;
}
.info-box p{
    opacity: 0.7;
}
.btn-box{
    display: flex;
    gap: 1em;

}
.btn-box .btn:nth-of-type(2){
    background-color:#fff;
    color: var(--bacground);
}
.btn-box .btn:nth-of-type(2):hover{
    background-color:var(--bacground);
    color: #fff;
}
::-webkit-scrollbar{
    width: 15px;
    background-color: var(--bacground);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,rgb(13, 13, 255),rgb(255, 32, 32));
}
#about{
    background: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

}
#about img{
    width: 30vw;
    border-radius: 1em;
}
.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}
.about-box h1{
    font-size: 5em;
}
.about-box p{
    color: #fff;
    opacity: 0.8;
}
.skills{
    display: flex;
    text-align: left;
    gap: 10em;

}
.skills ul{
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: #fff;
    opacity: 0.8;
    align-items: baseline;
    text-align: left;
}

.skills ul li span{
    display: flex;
    gap: 0.5em;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
    
}
.skills ul li a{
    text-decoration: none;

}
.skills ul li span:hover{
    transform: translateX(10px);
    cursor: pointer;
}
.skills ul li i{
    font-size: 1.2em;
}
.about-box h2{
    font-size: 2.5em;
}
#project{
    background: var(--bacground);
}
.header{
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   gap: 2em;
}
.box{
    border: 3px solid rgb(49,49,49);
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 2em;
    gap: 2em;
    color: #fff;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    box-shadow: rgb(13, 13, 255);
}
.box:hover{
    border-radius: 3px solid rgb(255, 0, 0);

}
.box p{
    opacity:0.8 ;
}
.box h1{
    font-size: 2em;

}
.box img{
    width: 100%;
    border-radius: 0.5em;
    height: 100%;
    object-fit: scale-down;
    margin-top: 2vw;

}
#contact{
    background-color: var(--second-background);

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.5em;
}
form input{
    font-size: 1.3em;
    padding: 1em 5em;
    border-radius: 0.5em;
    outline: none;
    border: none;

}
form input:focus{
    background: rgb(229, 229, 229);

}
#subbtn{
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    border: 2px solid #fff;
    text-decoration: none;
}
#subbtn:hover{
    background-color: #fff;
    color: var(--bacground);
}
footer{
    display: flex;
    align-items: center;
    justify-content: c;
    gap: 10em;
    background-color: var(--bacground);
    bottom: 0;
    width: 100%;
    padding: 5em 15%;
}
.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-box{
    display: flex;
    align-items: center;
    gap: 1em;
}
.col-box span{
    font-size: 1,2em;
}
.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #fff;
    max-width: 500px;
}
.col-right span{
    font-size: 1.3em;
}
.col-right .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 4vw;
    margin-top: 2vw;
}
.col-right .social-icons i{
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.social-icons i:hover{
      color: #ffffff;
}
#education{
   

}
.education-container{
    display: flex  ;
    justify-content: space-between;
    align-items: center;
    height: 50vw;
    width: 100%;
    flex-direction: column;
}
.education-item{
    border: 3px solid rgb(49, 49, 49);
    border-radius: 2vw;
    height: 15vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 4vw;
    gap: 3vw;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.education-item:hover{
    background: linear-gradient(to right,rgb(255, 20, 118),rgb(0, 21, 255));
    cursor: pointer;
}
.education-item h3 span{
    font-size: 1.7em;
}
.education-item h3{
    font-size: 1.4em;
    text-align: center;
}
.education-item p{
    font-size: 1.5em;
    opacity: 0.8;
}
#education h1{
    font-size: 5em;
    text-align: center;
}





@media(max-width:968px){
    section{
        padding: 8em 10%;
    }
    nav .btn{
        display: none;
    }
    #menu{
        display: block;
    }
    .links{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;

    }
    .links a{
        margin: 2em 0;
        display: block;
        font-size: 1.5em;
        color: #fff;
    }
    .links.active{
        display: block;
    }
    #home h1{
        font-size: 4em;
    }
    #home h3{
        font-size: 2em;
    }
    #home img{
        width: 20vw;
    }
    #about{
        flex-direction: column;
    }
    #about img{
        width: 30vw;
    }
    #about h1{
        font-size:3em ;
    }
    #about ul{
        font-size: 1em;
    }

}
@media(max-width:768px){
      nav .logo{
        font-size: 3em;
      }
    #home h1{
        font-size: 2.5em;
        text-wrap: auto;
    }
    #home h3{
        font-size: 1.5em;
    }
    #home img{
        width: 64vw;
        height: 62vw;
        border-radius: 45px;
    
    }
    .box{
        height: 75vh;
        width: 35vh;
    }
    .project-container{
        height: 310vh;
        gap: 2em;
        display: flex;
    
        flex-direction: column;
    
    }
    .box img{
        width: 50vw;
        border-radius: 0.5em;
        height: 35vw;
        object-fit: cover;
    }
       
    .about-info{
        padding: 0 3vw;
    }
    #about .skills{
        gap: 3em;
    }
    .about-box h2 {
        padding-left: 5vw;
    }
    #project .header{
        font-size: 3em;
    }
    .education-container {
      
        height: 140vw;
        width: 100%;
        
    }
    .education-item{
        height: 40vw;
        width: 75vw;
        padding: 1vw 3vw;
        margin-left: 0vw;
    
    }
    #education h1{
        font-size: 3rem;
    }
    
.education-item p{
    font-size: 1.1rem;
}
    #contact .header{
        font-size: 3em;
    }
    #contact .input-box span{
        font-size: 1.2em;
    }
    .input-box input{
        padding: 0.5em 1em;
    }
    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }

}

